<form name="myForm" optimization-form ng-init="conditions.optimization = 'maximize'" ng-model="conditions">
    <div>
        <div class="form-inline">
            <label> Number Of Variables
                <input class="form-control"
                       ng-init="conditions.numberOfVariables = 2" type="text" value="2" min="2"
                       ng-model="conditions.numberOfVariables"
                       ng-change="solve()"
                       size="1"
                       style="text-align: right"
                       >
            </label><br/>
        </div>
        <div class="form-inline">
            <label>Objective function <span mathjax-bind="'f(x)='"></span> 
            </label>

            <label ng-repeat="n in []| range: conditions.numberOfVariables" style="padding-left: 0 " >
                <input ng-init="conditions.c[$index] = conditions.c[$index] || 0" 
                       class="form-control"
                       size="1" 
                       type="text" value="0"  number-only-input 
                       ng-model="conditions.c[$index]"
                       ng-change="solve()"
                       style="text-align: right"
                       ><span mathjax-bind="'x_{'+($index+1)+'}'"></span><span mathjax-bind="'+'" ng-show="$index < conditions.numberOfVariables - 1">+</span>

            </label>
            <br/>
        </div>
        <div class="form-inline">
            <label>Optimization</label>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="conditions.optimization" 
                           value="maximize" ng-checked="true"
                           ng-change="solve()"> Maximize    
                </label>


                <label>
                    <input type="radio" ng-model="conditions.optimization" value="minimize" ng-change="solve()"> Minimize
                </label>
            </div>
        </div>
    </div>
    <div>
        <div class="form-inline">
            <label> Number Of Restrictions
                <input class="form-control"
                       size="1" 
                       ng-init="conditions.numberOfRestrictions = 2" type="text" value="2" min="1" ng-model="conditions.numberOfRestrictions"
                       ng-change="solve()"
                       style="text-align: right"
                       >
            </label><br/>
        </div>
        <div ng-repeat="m in []| range:conditions.numberOfRestrictions">
            <div class="form-inline">
                <label ng-repeat="n in []| range:conditions.numberOfVariables">
                    <input ng-init="conditions.a[$parent.$index][$index] = conditions.a[$parent.$index][$index] || 0" 
                           size="1" 
                           type="text" value="0"  number-only-input 
                           ng-model="conditions.a[$parent.$index][$index]"
                           ng-change="solve()"
                           class="form-control"
                           style="text-align: right"
                           ><span mathjax-bind="'x_{'+($index+1)+'}'"></span><span mathjax-bind="'+'" ng-show="$index < conditions.numberOfVariables - 1"></span> 
                </label>
                <select class="form-control"
                        ng-model="conditions.operations[$index]"
                        ng-init="conditions.operations[$index] = conditions.operations[$index] || operations[0]"
                        ng-options="operation for operation in operations"
                        ng-change="solve()"
                        ></select>
                <input type="text"
                       class="form-control"
                       ng-init="conditions.b[$index] = conditions.b[$index] || 0"
                       ng-model="conditions.b[$index]"
                       ng-change="solve()"
                       size="1"
                       style="text-align: right"
                       >
            </div>
        </div>
    </div>
</form>
<!--{{conditions}}-->
<div ng-repeat="iteration in iterations track by $index">
    <table class="table table-bordered">
        <caption>Iteration {{$index}}</caption>
        <thead>
        <th mathjax-bind="'f(x)'"></th>
        <th ng-repeat="n in []| range: iteration.table[0].length - 2"
            mathjax-bind="'x_{'+($index+1)+'}'"
            ></th>
        <th mathjax-bind="'b'">b</th>
        </thead>
        <tbody>
            <tr ng-repeat="row in iteration.table track by $index" >
                <td ng-repeat="item in row track by $index" 
                    ng-class="{warning : $index == iteration.pivot.column,
                           info : $parent.$index == iteration.pivot.row,
                           danger:$parent.$index == iteration.pivot.row && $index == iteration.pivot.column}">
                    {{item| number}}
                </td>
            </tr>
        </tbody>
    </table>
</div> 