<form name="myForm" optimization-form ng-init="conditions.optimization = 'maximize'" ng-model="conditions">
<div class="radio" >
    <label> Number Of Variables
        <input ng-init="conditions.numberOfVariables=2" type="number" value="2" min="2" number-only-input ng-model="conditions.numberOfVariables"
               ng-change="conditions.c={}">
    </label><br/>
    <label>f(x)=
    </label>
    <label ng-repeat="n in [] | range: conditions.numberOfVariables" style="padding-left: 0">
        <input ng-init="conditions.c[$index]=0" 
               size="1" 
               type="text" value="0"  number-only-input 
               ng-model="conditions.c[$index]">x_{{$index+1}} <span ng-show="$index<conditions.numberOfVariables-1">+</span></label>
    <br/>
  <label>
      <input type="radio" ng-model="conditions.optimization" value="maximize" ng-checked="true"> Maximize    
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" ng-model="conditions.optimization" value="minimize"> Minimize
  </label>
</div>
</form>
{{conditions}}
<div ng-repeat="iteration in iterations track by $index">
    <table class="table table-bordered">
        <caption>Iteration {{$index}}</caption>
    <thead>
        <th>f(x)</th>
        <th ng-repeat="n in [] | range: iteration.table[0].length-2">x_{{$index}}</th>
        <th>b</th>
    </thead>
    <tbody>
        <tr ng-repeat="row in iteration.table track by $index" >
            <td ng-repeat="item in row track by $index" 
                ng-class="{warning : $index==iteration.pivot.column,
                           info : $parent.$index==iteration.pivot.row,
                           danger:$parent.$index==iteration.pivot.row&&$index==iteration.pivot.column}">
                {{item | number}}
            </td>
        </tr>
    </tbody>
</table>
</div> 

<!--
<pre </pre>
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->