<form name="myForm" ng-init="optimization = 'maximize'">
<div class="radio" >
  <label>
      <input type="radio" ng-model="optimization" value="maximize" ng-checked="true"> Maximize    
  </label>
</div>
<div class="radio">
  <label>
  <input type="radio" ng-model="optimization" value="minimize"> Minimize
  </label>
</div>
</form>
<div ng-repeat="iteration in iterations track by $index">
    <table class="table table-bordered">
        <caption>Iteration {{$index}}</caption>
    <thead>
        <th ng-repeat="n in [] | range: iteration.table[0].length">x_{{$index}}</th>
    </thead>
    <tbody>
        <tr ng-repeat="row in iteration.table track by $index" >
            <td ng-repeat="item in row track by $index" 
                ng-class="{warning : $index==iteration.pivot.column,
                           info : $parent.$index==iteration.pivot.row,
                           danger:$parent.$index==iteration.pivot.row&&$index==iteration.pivot.column}">
                {{item}}
            </td>
        </tr>
    </tbody>
</table>
</div> 

<!--
<pre </pre>
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->